.divider2t {
    width: 100%;
	position: relative;
	display: flex;
	align-items: center;
    height: 120px;
	background-color: #EB5D3E;
	top: -10px;
	margin-bottom: -10px;
}
.divider2t #dt {
	color: white;
	margin: auto;
	font-size: 30pt;
	font-size: 3vw;
	font-weight: 600;
	
}
.middle{
	width: 100%;
	background-color: white;
}
.middle p {
	font-size: 1vw;
}
.wcontainer{
  margin: auto;
  display: grid;
  justify-content: center;
background: #7B549E;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin-top: 0px;
	grid-template-columns: 60% 40%;
	margin-bottom: 0px;
	padding-left: 12%;
	padding-right: 12%;
}
.sect1 {
	width: 100%;
	margin: auto;
	color: white;
	text-align: justify;
}

.sectimg {
margin-top: 0px;
  vertical-align: middle;
  width: 100%;
	border-radius: 40pt 80pt 40pt 40pt; 
	margin: 20pt;
}

.sectimg img {
padding: 20pt;
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}

.columncontainer {
	width: 100%;
margin: auto;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-top: 20pt;
	margin-bottom: 20pt;
	grid-template-columns: 25% 25% 25% 25%;
	
}

.colimg {
margin-top: 0px;
  vertical-align: middle;
	border-radius: 10pt 50pt 10pt 10pt; 
	margin: 10pt;
	width: auto;
}

.colimg img {
padding: 20pt;
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}

.pro {
	text-align: center;
	background-color: #EB5D3E;
	padding-top: 0pt;
	padding-bottom: 0pt;
	margin-top: 0;
	z-index: 100;
}

.pro b {
	font-weight: 700;
	font-size: 1vw;
	margin: 0;
	padding: 0;
}

.learnmore {
	text-align: center;
	vertical-align: bottom;
	background-color: #7B549E;
	width: auto;
	height: auto;
	border-radius: 0 0 15px 15px;
	padding-top: 10pt;
	padding-bottom: 10pt;
	margin-bottom: 0;
	}

.learnmore a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 1vw;
	margin: 0;
}

@media (max-width: 1100px) {
	
	.divider2t {
		height: 80px;
	}
}
@media (max-width: 920px) {
	

	.ocontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
	
		.wcontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
	.sectimg {
		order: 1;
		border-radius: 10pt 50pt 10pt 10pt;
	}
	
	.sectimg img {
		padding: 15pt;
	}
	
	.sect1 {
		order: 2;
	}
	
	.sect2 {
		order: 2;
	}
	
		.sect1 p {
			margin-bottom: 20px;
	}
	
	.sect2 p {
			margin-bottom: 20px;
	}
	
.middle p {
	font-size: 7pt;
}

	
		.divider2t {
		height: 60px;
	}
	
	.divider2t #dt {
			font-size: 3vw;
	}
	
		.columncontainer{
display: flex;
			flex: 100%;
			max-width: 100%;
			padding: 0;
}
	
	.colimg {
margin-top: 10px;
  flex: 40%;
  max-width: 50%;
		border-radius: 10pt 20pt 10pt 10pt; 
	}
	.colimg img {
padding: 15pt;
}
	.pro {
}

.pro b {
	font-size: 2.3vw;
}

.learnmore {
	border-radius: 0 0 10px 10px;
	padding-top: 4pt;
	padding-bottom: 5pt;
	}

.learnmore a {
	font-size: 2.5vw;
	margin: 0;
}
	
			.divider2t {
		height: 50px;
	}
	
}
@media (max-width: 600px) {
	
		.divider2t #dt {
			font-size: 14pt;
	}
	
}
