/* defines  */
.divider2t {
    width: 100%;
	position: relative;
	display: flex;
	align-items: center;
    height: 120px;
	background-color: #EB5D3E;
	top: -10px;
	margin-bottom: -10px;
}
/* defines  */
.divider2t #dt {
	color: white;
	margin: auto;
	font-size: 30pt;
	font-size: 3vw;
	font-weight: 600;
	
}
/* defines  */
.middle{
	width: 100%;
	background-color: white;
}
/* defines  */
.middle p {
	font-size: 1vw;
}
/* defines  */
.wcontainer{}
/* defines  */
.sect1 {
	width: 100%;
	margin: auto;
	color: white;
	text-align: justify;
}
/* defines  */
.sectimg {
margin-top: 0px;
  vertical-align: middle;
  width: 100%;
	border-radius: 40pt 80pt 40pt 40pt; 
	margin: 20pt;
}
/* defines  */
.sectimg img {
padding: 20pt;
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}
/* defines  */
.columncontainer {
	width: 100%;
margin: auto;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-top: 20pt;
	margin-bottom: 20pt;
	grid-template-columns: 33% 33% 33%;
	
}
/* defines  */
.colimg {
margin-top: 0px;
  vertical-align: middle;
	border-radius: 10pt 50pt 10pt 10pt; 
	margin: 10pt;
	width: auto;
}
/* defines  */
.colimg img {
padding: 20pt;
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}
/* defines  */
.pro {
	text-align: center;
	background-color: #EB5D3E;
	padding-top: 0pt;
	padding-bottom: 0pt;
	margin-top: 0;
	z-index: 100;
}
/* defines  */
.pro b {
	font-weight: 700;
	font-size: 1vw;
	margin: 0;
	padding: 0;
}
/* defines  */
.learnmore {
	text-align: center;
	vertical-align: bottom;
	background-color: #7B549E;
	width: auto;
	height: auto;
	border-radius: 0 0 15px 15px;
	padding-top: 10pt;
	padding-bottom: 10pt;
	margin-bottom: 0;
	}
/* defines  */
.learnmore a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 1vw;
	margin: 0;
}
/* defines  */
@media (max-width: 1100px) {
	/* defines  */
	.divider2t {
		height: 80px;
	}
}
/* defines  */
@media (max-width: 920px) {
/* defines  */
.ocontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
/* defines  */
.wcontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
/* defines  */
.sectimg {
		order: 1;
		border-radius: 10pt 50pt 10pt 10pt;
	}
/* defines  */
.sectimg img {
		padding: 15pt;
	}
/* defines  */
.sect1 {
		order: 2;
		text-align: center;
	}
/* defines  */
.sect2 {
		order: 2;
	}
/* defines  */
.sect1 p {
			margin-bottom: 20px;
	}
/* defines  */
.sect2 p {
			margin-bottom: 20px;
	}
/* defines  */
.middle p {
	font-size: 7pt;
}
/* defines  */
.divider2t {
		height: 60px;
	}
/* defines  */
.divider2t #dt {
			font-size: 3vw;
	}
/* defines  */
.columncontainer{
display: flex;
			flex: 100%;
			max-width: 100%;
			padding: 0;
}
/* defines  */
.colimg {
margin-top: 10px;
  flex: 40%;
  max-width: 50%;
		border-radius: 10pt 20pt 10pt 10pt; 
	}
/* defines  */
.colimg img {
padding: 15pt;
}
/* defines  */
.pro b {
	font-size: 2.3vw;
}
/* defines  */
.learnmore {
	border-radius: 0 0 10px 10px;
	padding-top: 4pt;
	padding-bottom: 5pt;
	}
/* defines  */
.learnmore a {
	font-size: 2.5vw;
	margin: 0;
}
/* defines  */
.divider2t {
		height: 50px;
	}	
}
/* defines  */
@media (max-width: 600px) {
/* defines  */
.divider2t #dt {
			font-size: 14pt;
	}
}
