.divider2t {
    width: 100%;
	position: relative;
	display: flex;
	align-items: center;
    height: 140px;
	background-color: #EB5D3E;
	top: -10px;
	margin-bottom: -10px;
}
.divider2t #dt {
	color: white;
	margin: auto;
	font-size: 30pt;
	font-size: 3vw;
	font-weight: 600;
	
}

.middle{
	width: 100%;
	background-color: white;
	
}

.columncontainer{
  margin: auto;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 40px;
	width: 100%;
	grid-template-columns: 40% 60%;
	margin-bottom: 40px;
}

.details {
  margin-top: 0px;
  padding: 0 15px;
}

iframe {
	
}

.blurb1{
	text-align: justify;
}

.blurb1 h1{
	font-size: 2.9vw;
}

.blurb1 h3{
	font-size: 1.8vw;
	margin: 0;
	margin-top: 20pt;
}

.blurb1 b{
	font-weight: 400;
	font-size: 1.2vw;
	line-height: inherit;
	line-height: normal;

}


@media (max-width: 1100px) {
		.divider2t {
		height: 80px;
	}
}

@media (max-width: 920px) {
	
	.blurb1 {
		text-align: center;
	}
	
	.blurb1 h1{
	font-size: 20pt;
	line-height: 0;
}
	
	.blurb1 h3 {
	font-size: 15pt;
	
	}
	
	.blurb1 b {
	font-size: 10pt;
	line-height: 0;
	
	}
	
	.columncontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
	
	.details {
  flex: 100%;
  max-width: 100%;
	}
.divider2t {
		height: 50px;
	}
	
}
@media (max-width: 600px) {
	
		.divider2t #dt {
			font-size: 14pt;
	}
	
}