/* defines the width, height, position, display style, alginment and spacing */
.divider2t {
    width: 100%;
	position: relative;
	display: flex;
	align-items: center;
    height: 120px;
	background-color: #EB5D3E;
	top: -10px;
	margin-bottom: -10px;
}
/* defines the font colour spcing and weight */
.divider2t #dt {
	color: white;
	margin: auto;
	font-size: 30pt;
	font-size: 3vw;
	font-weight: 600;
	
}
/* defines div scale and background colour */
.middle{
	width: 100%;
	background-color: white;
}
/* defines div heading font size */
.middle h2 {
	font-size: 25pt;	
}
/* defines div body copy font size */
.middle p {
	font-size: 1vw;
}
/* defines div content layout, displaying as a grid and using grid columns to define two columns ans there allocated width */
.wcontainer{
  margin: auto;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin-top: 0px;
	grid-template-columns: 60% 40%;
	margin-bottom: 0px;
	padding-left: 12%;
	padding-right: 12%;
}
/* defines div content layout, displaying as a grid and using grid columns to define two columns ans there allocated width */
.ocontainer{
  margin: auto;
  display: grid;
  justify-content: center;
background: #EB5D3E;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin-top: 0px;
	grid-template-columns: 40% 60%;
	margin-bottom: 0px;
	padding-left: 12%;
	padding-right: 12%;
}
/* defines  */
.sect1 {
	width: 100%;
	margin: auto;
	text-align: justify;
}
/* defines  */
.sect2 {
	width: 100%;
	margin: auto;
	color: white;
	text-align: justify;
	
}
/* defines div height */
.sect1 h2 {
	text-align: left;
}
/* defines div height */
.sect2 h2{
	text-align: left;
	
}
/* defines div height */
.sectimg img {
padding: 30pt;
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
	border-radius: 40pt 100pt 40pt 40pt; 
}
/* defines div height */
@media (max-width: 1100px) {
	/* defines div height */
	.divider2t {
		height: 80px;
	}
}
/* defines div height */
@media (max-width: 920px) {
/* defines div height */
.ocontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
/* defines div height */
.wcontainer{
display: flex;
  flex-wrap: wrap;
		grid-template-columns: auto;
}
/* defines div height */
.sectimg {
		order: 1;
	}
/* defines div height */
.sectimg img {
		padding: 10pt;
		border-radius: 20pt 50pt 20pt 20pt; 
	}
/* defines div height */
.sect1 {
		order: 2;
	}
/* defines div height */
.sect2 {
		order: 2;
	}
/* defines div height */
.sect1 p {
			margin-bottom: 20px;
	}
/* defines div height */
.sect2 p {
			margin-bottom: 20px;
	}
/* defines div height */
.middle h2 {
	text-align: center;
	font-size: 3vw;
}
/* defines div height */
.middle p {
	font-size: 6pt;
}
/* defines div height */
.divider2t {
		height: 50px;
	}	
}
/* defines div height */
@media (max-width: 600px) {
/* defines div height */
.divider2t #dt {
			font-size: 14pt;
	}
	
}